extends master.pug


block content

	div.mainWrapper
		h1 Forum view

		ul
			each section in sections
				div.collection.thread
					a(href="/forum/section/"+section.sectionid).collection-item=section.name
					
block footer
