- var n = 0

extends master.pug

block content

	div.mainWrapper
		h1 Home/Index View

		div#newsWrapper
			div.largeNews
				h3 Awesome Header
				p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			while n < 3 //change to each?
				- n++
				div.smallNews
					h5 Awesomer title
					p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...

block footer
