extends master.pug


block content
	div#login_form
		form
			input(type="text" placeholder="Username").tk-serenity
			input(type="password" placeholder="Password").tk-serenity
			input(type="submit" value="Login").tk-serenity
