extends master.pug


block content
	div.container
		h1 Login

		form(method='POST' action='/login').col.s12
			div.input-field.col.s6
				label(for="character") Username
				input(name="username" type="text").tk-serenity
			div.input-field.col.s6
				label(for="server") Password
				input(name="password" type="password").tk-serenity
			button(type="submit" name="action").btn.waves-effect.waves-light.right Login
				i.material-icons.right send
