doctype html
html
	head
		title= page_title

		// JQuery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

		// CSS link
		link(href="http://localhost:3000/css/master.css", rel="stylesheet")

		// Materialize css
		link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css", rel="stylesheet")

		// Materialize Javascript
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")

		// Materialize Icons
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

		script(type="text/javascript" src="//wow.zamimg.com/widgets/power.js")
		script
			var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }

		// Typekit for fonts
		script(src="https://use.typekit.net/npg0gvz.js")
		script.
			try{Typekit.load({ async: true });}
			catch(e){}

		// Import nav_scripts.js
		script(src="http://localhost:3000/js/master.js")


	body
		block header
			script $( document ).ready(function(){})
			div#mainNav
				div#navCenter
					nav.nav-extended.grey.darken-4
						div.nav-wrapper.container
							a(href="/").brand-logo Resolve
							a(href="#" data-activates="mobile-demo").button-collapse
								i.material-icons menu
							ul.right.hide-on-med-and-down#nav-mobile.uppercase
								li
									a(href="/forum") Forum

								if (((userlevel == 'member')||(userlevel == 'admin'))&&(userlevel))

									li
										a(href="/recruitment") Recruitment
								else
									li
										a(href="/apply") Apply
								li
									a(href="/testdata") Insert Test Data
								if (!userlevel)
									li
										a(href="/auth/google") Login
								else
									li 
										a(href="/profile") Profile
									li
										a(href="/logout") Logout
							ul#mobile-demo.side-nav

								li
									a(href="/forum") Forum
								li
									a(href="/apply") Apply
								li
									a(href="/#") Insert Test Data
								li
									a(href="//auth/google") Login
								li
									a(href="/logout") Logout


		block content
		block footer
			footer.page-footer
				div.container
					div.row
						div.col.l6.s12
							h5.white-text Footer content
							p.grey-text.text-lighten-4
								You can use rows and columns here to organize your footer content.
				div.footer-copyright
					div.container
						p @ 2017 Copyright text
