extends master.pug


block content

	div#mainWrapper
		h1 Recruitment View

		ul.tk-serenity
			each application in applications
				li
					h3
						a(href="domain.com/recruitment/"+application.id)=application.name
					p=application.role+' - '+application.spec
			else
				li No applications found.

block footer
