extends master.pug


block content

	div.mainWrapper.container
		h1 Recruitment View

		ul.tk-serenity
			each application in applications
				div.collection
					a(href="/application/"+application._id).collection-item=application.character.name
			else
				li No applications found.



block footer
