extends master.pug


block content

	div.mainWrapper
		h1 Threads in #{sectionName}

		ul
			each thread in threads
				li
					a(href="/forum/thread/"+thread.threadid)=thread.name
					
block footer
