extends master.pug


block content

	div.mainWrapper
		h1 Threads in #{sectionName}

		ul
			each thread in threads
				div.collection.thread
					a(href="/forum/thread/"+thread.threadid).collection-item=thread.name
					
block footer
